.Date {
  list-style: none;
  font-weight: 100;
  color: #000;
  font-size: 17px;
  margin-left: 10px;
  text-shadow: 2px 2px 5px rgb(27, 27, 27, 0.8);
}

.date::first-letter {
  text-transform: capitalize;
}
